:root {
  --color-text-main: #111;
}
@font-face {
  font-family: 'Noto Sans Arabic';
  src: url("/assets/fonts/NotoSansArabic-VariableFont_wdth,wght.ttf");
  font-weight: 500
}
@font-face {
  font-family: Lora;
  src: url('/assets/fonts/Lora-VariableFont_wght.ttf');
}
@font-face {
  font-family: Ubuntu;
  src: url('/assets/fonts/Ubuntu-Regular.ttf');
}
* {
    box-sizing: border-box;
  }
body {
  color: var(--color-text-main) !important;
  font-family: Ubuntu !important;
  letter-spacing: 0.5px;
  font-size: calc(1em + 0.25vw) !important;
  overflow-x: hidden;
}
.accordion-button {
    font-family: 'Noto Sans Arabic' !important;
    font-size: calc(2em + 1vw) !important;
    color: var(--color-text-main) !important;
}
a, strong {
  font-family: Lora;
  letter-spacing: 1.5px;
  font-variant: small-caps;
  font-size: 1.2em;
  text-decoration: none !important;
  font-weight: bold !important
}
a {
  border-bottom: 2px dotted currentColor
}
h1 {
  font-family: Lora !important;
  font-weight: bold !important
}
h1 .arabic {
  font-weight: normal
}
.accordion-button:hover, .accordion-button:not(.collapsed) {
  color: yellow !important;
}
.alif .accordion-button, .alif .accordion-item hr, .alif .accordion-button:not(.collapsed) {
  background-color: #cc95c0
}
.baa .accordion-button, .baa .accordion-item hr, .baa .accordion-button:not(.collapsed) {
  background-color: #da99b7
}
.taa .accordion-button, .taa .accordion-item hr, .taa .accordion-button:not(.collapsed) {
  background-color: #e39fae
}
.saa .accordion-button, .saa .accordion-item hr, .saa .accordion-button:not(.collapsed) {
  background-color: #e7a6a7
}
.jeem .accordion-button, .jeem .accordion-item hr, .jeem .accordion-button:not(.collapsed) {
  background-color: #e8afa3
}
.haa .accordion-button, .haa .accordion-item hr, .haa .accordion-button:not(.collapsed) {
  background-color: #e8afa3
}
.khaa .accordion-button, .khaa .accordion-item hr, .khaa .accordion-button:not(.collapsed) {
  background-color: #e8b4a2
}
.daal .accordion-button, .daal .accordion-item hr, .daal .accordion-button:not(.collapsed) {
  background-color: #e7baa3
}
.zaal .accordion-button, .zaal .accordion-item hr, .zaal .accordion-button:not(.collapsed) {
  background-color: #e5bfa4
}
.raa .accordion-button, .raa .accordion-item hr, .raa .accordion-button:not(.collapsed) {
  background-color: #e2c5a6
}
.zaai .accordion-button, .zaai .accordion-item hr, .zaai .accordion-button:not(.collapsed) {
  background-color: #e0caaa
}
.seen .accordion-button, .seen .accordion-item hr, .seen .accordion-button:not(.collapsed) {
  background-color: #ddcfaf
}
.sheen .accordion-button, .sheen .accordion-item hr, .sheen .accordion-button:not(.collapsed) {
  background-color: #dbd4b4
}
.suad .accordion-button, .suad .accordion-item hr , .suad .accordion-button:not(.collapsed){
  background-color: #d0d2b0
}
.duad .accordion-button, .duad .accordion-item hr, .duad .accordion-button:not(.collapsed) {
  background-color: #c4d1ae
}
.taa-heavy .accordion-button, .taa-heavy .accordion-item hr, .taa-heavy .accordion-button:not(.collapsed) {
  background-color: #aacdaf
}
.zaa-heavy .accordion-button, .zaa-heavy .accordion-item hr, .zaa-heavy .accordion-button:not(.collapsed) {
  background-color: #9ccab2
}
.ain .accordion-button, .ain .accordion-item hr, .ain .accordion-button:not(.collapsed) {
  background-color: #8fc8b6
}
.gain .accordion-button, .gain .accordion-item hr, .gain .accordion-button:not(.collapsed) {
  background-color: #83c5bb
}
.faa .accordion-button, .faa .accordion-item hr, .faa .accordion-button:not(.collapsed) {
  background-color: #78c1c0
}
.qaaf .accordion-button, .qaaf .accordion-item hr, .qaaf .accordion-button:not(.collapsed) {
  background-color: #6fbdc6
}
.kaaf .accordion-button, .kaaf .accordion-item hr, .kaaf .accordion-button:not(.collapsed) {
  background-color: #69b9cb
}
.laam .accordion-button, .laam .accordion-item hr, .laam .accordion-button:not(.collapsed) {
  background-color: #67b4cf
}
.meem .accordion-button, .meem .accordion-item hr, .meem .accordion-button:not(.collapsed) {
  background-color: #6aaed2
}
.noon .accordion-button, .noon .accordion-item hr, .noon .accordion-button:not(.collapsed) {
  background-color: #70a8d3
}
.waw .accordion-button, .waw .accordion-item hr, .waw .accordion-button:not(.collapsed) {
  background-color: #97bdde
}
.small-haa .accordion-button, .small-haa .accordion-item hr, .small-haa .accordion-button:not(.collapsed) {
  background-color: #bad3e9
}
.hamzah .accordion-button, .hamzah .accordion-item hr, .hamzah .accordion-button:not(.collapsed) {
  background-color: #ccd9e6
}
.yaa .accordion-button, .yaa .accordion-item hr, .yaa .accordion-button:not(.collapsed)  {
  background-color: #ffffff
}
.yaa .accordion-item hr {
  background-color: var(--color-text-main)
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
.carousel-caption {  
  position: relative !important;
  left: auto !important;
  right: auto !important;
  padding-top: 2.25rem !important;
  color: var(--color-text-main) !important
}
.carousel-indicators {
  display: none !important;
}
.accordion-body img {
  width: 75vw
}
.accordion-body .diagram-small {
  width: 37.5vw;
}
.accordion-body .articulation-point {
  width: 75vw;
  height: 50vh;
}
hr {
  border: none;
  height: 2px !important;
}
@media (min-width: 481px) { 
  .accordion-body img {
    width: 375px
  }
  .accordion-body .diagram-small {
    width: 187.5px
  }
  .accordion-body .articulation-point {
    width: 375px;
    height: 475px;
  }
  .letter-info {
    display: flex;
    flex-direction: row-reverse
  }
  .inner-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 5vw
  }
  .carousel {
    width: 400px;
    height: 475px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) 
and (max-width: 1024px) and (max-height: 1366px) {
  .accordion-body img {
    width: 375px
  }
  .accordion-body .articulation-point {
    width: 375px;
    height: 475px;
  }
  .letter-info {
    display: flex;
    flex-direction: row-reverse
  }
  .inner-info {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 5vw
  }
  .carousel {
    width: 400px;
    height: 475px;
  }
}
.alif .accordion-item a, .alif .accordion-item strong {
  color: #cc95c0;
}
.baa .accordion-item a, .baa .accordion-item strong  {
  color: #da99b7
}
.taa .accordion-item a, .taa .accordion-item strong {
  color: #e39fae
}
.saa .accordion-item a, .saa .accordion-item strong {
  color: #e7a6a7
}
.jeem .accordion-item a, .jeem .accordion-item strong {
  color: #e8afa3
}
.haa .accordion-item a, .haa .accordion-item strong {
  color: #e8afa3
}
.khaa .accordion-item a, .khaa .accordion-item strong {
  color: #e8b4a2
}
.daal .accordion-item a, .daal .accordion-item strong {
  color: #e7baa3
}
.zaal .accordion-item a, .zaal .accordion-item strong {
  color: #e5bfa4
}
.raa .accordion-item a, .raa .accordion-item strong {
  color: #e2c5a6
}
.zaai .accordion-item a, .zaai .accordion-item strong {
  color: #e0caaa
}
.seen .accordion-item a, .seen .accordion-item strong {
  color: #ddcfaf
}
.sheen .accordion-item a, .sheen .accordion-item strong {
  color: #dbd4b4
}
.suad .accordion-item a, .suad .accordion-item strong {
  color: #d0d2b0
}
.duad .accordion-item a, .duad .accordion-item strong {
  color: #c4d1ae
}
.taa-heavy .accordion-item a, .taa-heavy .accordion-item strong {
  color: #aacdaf
}
.zaa-heavy .accordion-item a, .zaa-heavy .accordion-item strong {
  color: #9ccab2
}
.ain .accordion-item a, .ain .accordion-item strong {
  color: #8fc8b6
}
.gain .accordion-item a, .gain .accordion-item strong {
  color: #83c5bb
}
.faa .accordion-item a, .faa .accordion-item strong {
  color: #78c1c0
}
.qaaf .accordion-item a, .qaaf .accordion-item strong {
  color: #6fbdc6
}
.kaaf .accordion-item a, .kaaf .accordion-item strong {
  color: #69b9cb
}
.laam .accordion-item a, .laam .accordion-item strong {
  color: #67b4cf
}
.meem .accordion-item a, .meem .accordion-item strong {
  color: #6aaed2
}
.noon .accordion-item a, .noon .accordion-item strong {
  color: #70a8d3
}
.waw .accordion-item a, .waw .accordion-item strong {
  color: #97bdde
}
.small-haa .accordion-item a, .small-haa .accordion-item strong {
  color: #bad3e9
}
.hamzah .accordion-item a, .hamzah .accordion-item strong {
  color: #ccd9e6
}
.yaa .accordion-item a, .yaa .accordion-item strong {
  color: var(--color-text-main)
}
.inline-block {
  display: inline-block
}
b, a:hover {
  opacity: 0.75
}
.tajweed-group, .return {
  padding: 1rem
}
h1 {
  margin: auto;
  letter-spacing: 1.5px;
  font-variant: small-caps
}
.return {
  text-align: right;
  background-color: var(--color-text-main);
  position: fixed;
  height: 12vh;
  width: 100vw;
  z-index: 999;
  display: flex;
  flex-direction: row; 
  justify-content: space-between
}
.stacked {
  display: flex;
  flex-direction: column
}
.content {
  position: relative;
  top: 12vh
}
.return a {
  text-decoration: none !important;
  border-bottom: none !important;
}
.return img {
  width: 6vh;
  height: 6vh;
}
.accordion-button:not(.collapsed):after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.except {
  color: red
}
.arabic {
  font-family: 'Noto Sans Arabic';
  letter-spacing: 0 !important
}
.rhap_container {
  background-color: transparent !important;
  opacity: 0.75;
  margin-bottom: 1rem;
  box-shadow: initial !important
}
.return .menu {
  display: flex;
  flex-direction: row
}
button {
  border: 1px solid #8885;
  padding: 3px 7.5px;
  background-color: #cc95c0;
  letter-spacing: 0.5px;
}
.button button {
    background: none;
    color: inherit;
    border: none;
    padding-right: 2vw;
    cursor: pointer;
    outline: inherit;
    font-family: Lora;
    letter-spacing: 1.5px;
    font-variant: small-caps;
    font-size: 1.5em;
    line-height: 6vh;
    text-decoration: none !important;
    font-weight: bold !important;
    color: #FFF;
}
.recorder button {
  line-height: 6vh !important;
  width: 40px
}
.offcanvas {
  background-color:  #cc95c0 !important
}
.offcanvas-header {
  justify-content: right !important
}
.sources {
  position: absolute;
  bottom: 0;
  font-size: 0.75em
}
.nav-content a.email {
  color: var(--color-text-main) !important;
  font-family: Ubuntu;
  font-variant: normal;
  font-size: 1em
}
.title h1 {
  padding: 5vh;
  text-align: center;
  font-weight: normal !important;
  line-height: 2;
  letter-spacing: 0 !important
}
