@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500&family=Signika+Negative&display=swap");

:root {
  --color-primary: #ef32d9;
  --color-text-main: #111;
  --color-secondary: #5c8bcf;
  --font-family: "Signika Negative";  
}
* {
    box-sizing: border-box;
  }
body {
  color: var(--color-text-main) !important;
  font-family: var(--font-family) !important;
  letter-spacing: 0.5px;
  font-size: calc(1em + 0.25vw) !important;
  overflow-x: hidden;
}
.accordion-item .accordion-button {
    font-family: 'Noto Sans Arabic';
    font-size: calc(2em + 1vw);
    color: var(--color-text-main);
    text-decoration: none;
    display: block;
    padding: 2vw 0 2vw 3vw;
}
.accordion-item .accordion-button:hover, strong, h2 {
  color: var(--color-primary)
}
.accordion-item:nth-of-type(1) .accordion-button {
  background-color: #cc95c0
}
.accordion-item:nth-of-type(2) .accordion-button {
  background-color: #da99b7
}
.accordion-item:nth-of-type(3) .accordion-button {
  background-color: #e39fae
}
.accordion-item:nth-of-type(4) .accordion-button {
  background-color: #e7a6a7
}
.accordion-item:nth-of-type(5) .accordion-button {
  background-color: #e8afa3
}
.accordion-item:nth-of-type(6) .accordion-button {
  background-color: #e8afa3
}
.accordion-item:nth-of-type(7) .accordion-button {
  background-color: #e8b4a2
}
.accordion-item:nth-of-type(8) .accordion-button {
  background-color: #e7baa3
}
.accordion-item:nth-of-type(9) .accordion-button {
  background-color: #e5bfa4
}
.accordion-item:nth-of-type(10) .accordion-button {
  background-color: #e2c5a6
}
.accordion-item:nth-of-type(11) .accordion-button {
  background-color: #e0caaa
}
.accordion-item:nth-of-type(12) .accordion-button {
  background-color: #ddcfaf
}
.accordion-item:nth-of-type(13) .accordion-button {
  background-color: #dbd4b4
}
.accordion-item:nth-of-type(14) .accordion-button {
  background-color: #d0d2b0
}
.accordion-item:nth-of-type(15) .accordion-button {
  background-color: #c4d1ae
}
.accordion-item:nth-of-type(16) .accordion-button {
  background-color: #aacdaf
}
.accordion-item:nth-of-type(17) .accordion-button {
  background-color: #9ccab2
}
.accordion-item:nth-of-type(18) .accordion-button {
  background-color: #8fc8b6
}
.accordion-item:nth-of-type(19) .accordion-button {
  background-color: #83c5bb
}
.accordion-item:nth-of-type(20) .accordion-button {
  background-color: #78c1c0
}
.accordion-item:nth-of-type(21) .accordion-button {
  background-color: #6fbdc6
}
.accordion-item:nth-of-type(22) .accordion-button {
  background-color: #69b9cb
}
.accordion-item:nth-of-type(23) .accordion-button {
  background-color: #67b4cf
}
.accordion-item:nth-of-type(24) .accordion-button {
  background-color: #6aaed2
}
.accordion-item:nth-of-type(25)  .accordion-button{
  background-color: #70a8d3
}
.accordion-item:nth-of-type(26)  .accordion-button {
  background-color: #97bdde
}
.accordion-item:nth-of-type(27) .accordion-button {
  background-color: #bad3e9
}
.accordion-item:nth-of-type(28) .accordion-button {
  background-color: #dde9f4
}
.accordion-item:nth-of-type(29) .accordion-button {
  background-color: #ffffff
}
*::-webkit-scrollbar {
  width: 3vw;
  -webkit-appearance: none;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 3px solid #111
}
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-caption {
  filter: invert(100%);
}
.carousel-caption {
  position: relative !important;
  left: auto !important;
  right: auto !important;
  padding-top: 2.25rem !important;
}
.carousel-indicators {
  display: none !important;
}
.accordion-body  img {
  max-width: 75vw
}
@media (min-width: 481px) and (orientation: landscape) { 
  .accordion-body img {
    max-width: 300px
  }
}
audio {
  filter: sepia(100%) saturate(300%) contrast(100%) invert(0%);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1em
}
