@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@500&family=Lora&family=Ubuntu&display=swap");

:root {
  --color-text-main: #111;
  --font-family: "Lora";  
}
* {
    box-sizing: border-box;
  }
body {
  color: var(--color-text-main) !important;
  font-family: var(--font-family) !important;
  letter-spacing: 0.5px;
  font-size: calc(1em + 0.25vw) !important;
  overflow-x: hidden;
}
.accordion-item .accordion-button {
    font-family: 'Noto Sans Arabic';
    font-size: calc(2em + 1vw);
    color: var(--color-text-main);
    text-decoration: none;
    display: block;
    padding: 2vw 0 2vw 3vw;
}
strong {
  font-family: Ubuntu;
  letter-spacing: 1px;
}
.accordion-button:hover, .accordion-button:not(.collapsed) {
  color: yellow !important;
}
.accordion-item:nth-of-type(1) .accordion-button {
  background-color: #cc95c0
}
.accordion-item:nth-of-type(2) .accordion-button {
  background-color: #da99b7
}
.accordion-item:nth-of-type(3) .accordion-button {
  background-color: #e39fae
}
.accordion-item:nth-of-type(4) .accordion-button {
  background-color: #e7a6a7
}
.accordion-item:nth-of-type(5) .accordion-button {
  background-color: #e8afa3
}
.accordion-item:nth-of-type(6) .accordion-button {
  background-color: #e8afa3
}
.accordion-item:nth-of-type(7) .accordion-button {
  background-color: #e8b4a2
}
.accordion-item:nth-of-type(8) .accordion-button {
  background-color: #e7baa3
}
.accordion-item:nth-of-type(9) .accordion-button {
  background-color: #e5bfa4
}
.accordion-item:nth-of-type(10) .accordion-button {
  background-color: #e2c5a6
}
.accordion-item:nth-of-type(11) .accordion-button {
  background-color: #e0caaa
}
.accordion-item:nth-of-type(12) .accordion-button {
  background-color: #ddcfaf
}
.accordion-item:nth-of-type(13) .accordion-button {
  background-color: #dbd4b4
}
.accordion-item:nth-of-type(14) .accordion-button {
  background-color: #d0d2b0
}
.accordion-item:nth-of-type(15) .accordion-button {
  background-color: #c4d1ae
}
.accordion-item:nth-of-type(16) .accordion-button {
  background-color: #aacdaf
}
.accordion-item:nth-of-type(17) .accordion-button {
  background-color: #9ccab2
}
.accordion-item:nth-of-type(18) .accordion-button {
  background-color: #8fc8b6
}
.accordion-item:nth-of-type(19) .accordion-button {
  background-color: #83c5bb
}
.accordion-item:nth-of-type(20) .accordion-button {
  background-color: #78c1c0
}
.accordion-item:nth-of-type(21) .accordion-button {
  background-color: #6fbdc6
}
.accordion-item:nth-of-type(22) .accordion-button {
  background-color: #69b9cb
}
.accordion-item:nth-of-type(23) .accordion-button {
  background-color: #67b4cf
}
.accordion-item:nth-of-type(24) .accordion-button {
  background-color: #6aaed2
}
.accordion-item:nth-of-type(25) .accordion-button {
  background-color: #70a8d3
}
.accordion-item:nth-of-type(26) .accordion-button {
  background-color: #97bdde
}
.accordion-item:nth-of-type(27) .accordion-button {
  background-color: #bad3e9
}
.accordion-item:nth-of-type(28) .accordion-button {
  background-color: #ccd9e6
}
.accordion-item:nth-of-type(29) .accordion-button {
  background-color: #ffffff
}
*::-webkit-scrollbar {
  width: 3vw;
  -webkit-appearance: none;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #111;
}
.carousel-control-prev-icon,
.carousel-control-next-icon,
.carousel-caption {
  filter: invert(100%);
}
.carousel-caption {
  position: relative !important;
  left: auto !important;
  right: auto !important;
  padding-top: 2.25rem !important
}
.carousel-indicators {
  display: none !important;
}
.accordion-body  img {
  max-width: 75vw
}
hr {
  border: none;
  height: 2px !important;
}
@media (min-width: 481px) and (orientation: landscape) { 
  .accordion-body img {
    max-width: 300px
  }
}
audio {
  filter: sepia(100%) saturate(300%) contrast(100%) invert(0%);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1em
}
.accordion-item:nth-of-type(1) hr {
  background-color: #cc95c0
}
.accordion-item:nth-of-type(2) hr {
  background-color: #da99b7
}
.accordion-item:nth-of-type(3) hr {
  background-color: #e39fae
}
.accordion-item:nth-of-type(4) hr {
  background-color: #e7a6a7
}
.accordion-item:nth-of-type(5) hr {
  background-color: #e8afa3
}
.accordion-item:nth-of-type(6) hr {
  background-color: #e8afa3
}
.accordion-item:nth-of-type(7) hr {
  background-color: #e8b4a2
}
.accordion-item:nth-of-type(8) hr {
  background-color: #e7baa3
}
.accordion-item:nth-of-type(9) hr {
  background-color: #e5bfa4
}
.accordion-item:nth-of-type(10) hr {
  background-color: #e2c5a6
}
.accordion-item:nth-of-type(11) hr {
  background-color: #e0caaa
}
.accordion-item:nth-of-type(12) hr {
  background-color: #ddcfaf
}
.accordion-item:nth-of-type(13) hr {
  background-color: #dbd4b4
}
.accordion-item:nth-of-type(14) hr {
  background-color: #d0d2b0
}
.accordion-item:nth-of-type(15) hr {
  background-color: #c4d1ae
}
.accordion-item:nth-of-type(16) hr {
  background-color: #aacdaf
}
.accordion-item:nth-of-type(17) hr {
  background-color: #9ccab2
}
.accordion-item:nth-of-type(18) hr {
  background-color: #8fc8b6
}
.accordion-item:nth-of-type(19) hr {
  background-color: #83c5bb
}
.accordion-item:nth-of-type(20) hr {
  background-color: #78c1c0
}
.accordion-item:nth-of-type(21) hr {
  background-color: #6fbdc6
}
.accordion-item:nth-of-type(22) hr {
  background-color: #69b9cb
}
.accordion-item:nth-of-type(23) hr {
  background-color: #67b4cf
}
.accordion-item:nth-of-type(24) hr {
  background-color: #6aaed2
}
.accordion-item:nth-of-type(25)  hr{
  background-color: #70a8d3
}
.accordion-item:nth-of-type(26)  hr {
  background-color: #97bdde
}
.accordion-item:nth-of-type(27) hr {
  background-color: #a8c5df
}
.accordion-item:nth-of-type(28) hr {
  background-color: #ccd9e6
}
.accordion-item:nth-of-type(29) hr {
  background-color: var(--color-text-main)
}
.accordion-item:nth-of-type(1) strong  {
  color: #cc95c0;
}
.accordion-item:nth-of-type(2) strong {
  color: #da99b7
}
.accordion-item:nth-of-type(3) strong {
  color: #e39fae
}
.accordion-item:nth-of-type(4) strong {
  color: #e7a6a7
}
.accordion-item:nth-of-type(5) strong {
  color: #e8afa3
}
.accordion-item:nth-of-type(6) strong {
  color: #e8afa3
}
.accordion-item:nth-of-type(7) strong {
  color: #e8b4a2
}
.accordion-item:nth-of-type(8) strong {
  color: #e7baa3
}
.accordion-item:nth-of-type(9) strong {
  color: #e5bfa4
}
.accordion-item:nth-of-type(10) strong {
  color: #e2c5a6
}
.accordion-item:nth-of-type(11) strong {
  color: #e0caaa
}
.accordion-item:nth-of-type(12) strong {
  color: #ddcfaf
}
.accordion-item:nth-of-type(13) strong {
  color: #dbd4b4
}
.accordion-item:nth-of-type(14) strong {
  color: #d0d2b0
}
.accordion-item:nth-of-type(15) strong {
  color: #c4d1ae
}
.accordion-item:nth-of-type(16) strong {
  color: #aacdaf
}
.accordion-item:nth-of-type(17) strong {
  color: #9ccab2
}
.accordion-item:nth-of-type(18) strong {
  color: #8fc8b6
}
.accordion-item:nth-of-type(19) strong {
  color: #83c5bb
}
.accordion-item:nth-of-type(20) strong {
  color: #78c1c0
}
.accordion-item:nth-of-type(21) strong {
  color: #6fbdc6
}
.accordion-item:nth-of-type(22) strong {
  color: #69b9cb
}
.accordion-item:nth-of-type(23) strong {
  color: #67b4cf
}
.accordion-item:nth-of-type(24) strong {
  color: #6aaed2
}
.accordion-item:nth-of-type(25)  strong{
  color: #70a8d3
}
.accordion-item:nth-of-type(26)  strong {
  color: #97bdde
}
.accordion-item:nth-of-type(27) strong {
  color: #bad3e9
}
.accordion-item:nth-of-type(28) strong {
  color: #ccd9e6
}
.accordion-item:nth-of-type(29) strong {
  color: var(--color-text-main)
}
